.sidenav {
  /* height: calc(100vh - 80px); */

  height: calc(100vh - 10px);
  border-radius: 10px;
  background: linear-gradient(145deg, #44adf3, #3a92cc);
  box-shadow: 5px 5px 10px #3d4042, 0px 0px 0px #4dc4ff;
  color: #fff6e9;
  width: 300px;
}

.side-Titlehead {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  height: 30px;
  text-align: center;
}

.side-head {
  height: 40px;
}
.module {
  height: calc(100% - 100px);
  padding: 10px;
  overflow-y: auto;
}

.module::-webkit-scrollbar {
  opacity: 0.2;
}
.button-13 {
  margin-bottom: 10px;
  margin-left: 15px;
  background: linear-gradient(145deg, #c8f2fd, #a8cbd4);
  color: #0c836a;
  border: none !important;
  outline: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #3d4042;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 100px;
}

.button-13:hover {
  background: linear-gradient(145deg, #0e9c7e, #0c836a);
  color: #bbe2ec;
}

.count-btn {
  /* background: linear-gradient(145deg, #0e9c7e, #0c836a); */
  /* background: linear-gradient(145deg, #c8f2fd, #a8cbd4); */
  background: transparent;
  color: #fff6e9;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* border: 2px solid #fff6e9; */
  /* color: #bbe2ec; */
  /* box-shadow: 5px 5px 10px #3d4042; */
  border: none;
  margin-right: 14px;
  margin-bottom: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.subButton {
  margin: 2px;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
  padding: 2px;
  width: 40px;
}
.subButton:hover {
  background-color: #61f6f6;
}
.subModule {
  /* border: 1px solid black; */
  margin: 5px;
  padding: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.module::-webkit-scrollbar {
  display: none;
}
