.header {
  background-color: rgb(243, 242, 242);
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropDown {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
/* #logout {
  background-color: #f31559;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#logout:hover {
  background-color: crimson;
  color: white;
} */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
