.header {
  background-color: #0d9276;
  color: #bbe2ec;
  width: 100%;
  height: 60px;
  padding: 0px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
}
.dropDown {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.save-input {
  border: none;
  border-bottom: 1px solid #888;
}
/* #logout {
  background-color: #f31559;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#logout:hover {
  background-color: crimson;
  color: white;
} */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
