.expanded {
  height: 43px !important;
  overflow: hidden;
}

#query-card {
  box-shadow: 5px 5px 10px #3d4042, 0px 0px 0px #4dc4ff;
  margin-bottom: 10px;
  color: #0c836a;
}

#card_title {
  font-size: 0.8em;
  padding: 0px;
  border: none;
  width: fit-content;
}
.spinner {
  animation: spinning 1.1s infinite linear;
}

@keyframes spinning {
  100% {
    transform: rotate(1turn);
  }
}
